<!DOCTYPE html>
<title>Attendance Update Form</title>
{% extends 'att_manager/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<html>
<body style="background-color : #ebebeb" >
<div class="container">
    <div style="background-color : white" class="jumbotron">
    <h2>Update Your Entry</h2>
<form method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" value="Update" class="btn btn-success">
    <a style="margin-left : 10px" class="btn btn-warning" href="{% url 'attendance_list' %}">Cancel Update</a>

</form>
    </div>
</div>
</body>
</html>
{% endblock %}